body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: "Regular";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    background-color: #FFFFFF;
    font-family: "Roboto",
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.top-logo-end {
    color: #2e2f42;
    margin-right: 76px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-list-item:hover {
    color: #404bbf;
}

.nav-list-item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover {
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-one {
    background: #2E2F42;
    padding: 188px 0;
}

.main-header {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-two {
    background: #FFF;
    padding: 120px 0;
}

.visually-hidden {}

.section-two-list {
    display: flex;
    gap: 24px;
}

.section-two-list-item {
    width: calc((100%-72px)/4);
}

.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description {
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.section-three {
    background: #F4F4FD;
    padding: 120px 0;
}

.section-three-list-item {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.header-sect {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-three-list {
    display: flex;
    gap: 24px;
}

.worker-info {
    padding: 32px 0;
}

.section-three-list-header {
    text-align: center;
    margin-bottom: 8px;
}

.section-three-parag {
    text-align: center;
}

.section-four {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.sect-four-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.sect-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.sect-four-list-item {
    width: calc((100%-48px)/3);
}

.app-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.sekt-four-parag {
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo-end {
    color: #f4f4fd;
}

.footer-parag {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}

.img {
    display: block;
}